@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

.btn-primary-gradient {
  @apply text-white border-none bg-gradient-to-r from-[#0046FF] to-[#799EFF];
}
a.active{
  @apply bg-blue-900 text-white font-semibold 
}
* {
  font-family: "Roboto", sans-serif;
}